

h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.ajouter-film {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 10px;
}

input[type="url"],
input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.liste-films {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.liste-films li {
  flex: 1;
  width: calc(33.33% - 20px);
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.liste-films li img {
  max-width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.liste-films li h3 {
  font-size: 18px;
  margin: 10px 0;
}

.liste-films li p {
  font-size: 14px;
  margin: 0;
}

.liste-films li .note {
  font-size: 16px;
  font-weight: bold;
  color: #007bff;
}